<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>05-ServletRequestDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.training.ui.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInputReaderServlet</display-name>
    <servlet-name>StudentInputReaderServlet</servlet-name>
    <servlet-class>com.training.ui.StudentInputReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInputReaderServlet</servlet-name>
    <url-pattern>/StudentInputReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressInputReaderServlet</display-name>
    <servlet-name>AddressInputReaderServlet</servlet-name>
    <servlet-class>com.training.ui.AddressInputReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressInputReaderServlet</servlet-name>
    <url-pattern>/AddressInputReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputDemoServlet</display-name>
    <servlet-name>InputDemoServlet</servlet-name>
    <servlet-class>com.training.ui.InputDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputDemoServlet</servlet-name>
    <url-pattern>/InputDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputDemo1Servlet</display-name>
    <servlet-name>InputDemo1Servlet</servlet-name>
    <servlet-class>com.training.ui.InputDemo1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputDemo1Servlet</servlet-name>
    <url-pattern>/InputDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.training.ui.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
</web-app>