<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>13-EmployeeJSPApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <context-param>
    <param-name>portalTitle</param-name>
    <param-value>Employee Management Portal</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>NewEmployeeInputScreenServlet</display-name>
    <servlet-name>NewEmployeeInputScreenServlet</servlet-name>
    <servlet-class>com.training.ui.NewEmployeeInputScreenServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>New Employee Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/NewEmployeeInput.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmployeeInputScreenServlet</servlet-name>
    <url-pattern>/NewEmployeeInputScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeSearchInputScreenServlet</display-name>
    <servlet-name>EmployeeSearchInputScreenServlet</servlet-name>
    <servlet-class>com.training.ui.EmployeeSearchInputScreenServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>Search Employee Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/EmployeeSearchInput.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSearchInputScreenServlet</servlet-name>
    <url-pattern>/EmployeeSearchInputScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeEditInputScreenServlet</display-name>
    <servlet-name>EmployeeEditInputScreenServlet</servlet-name>
    <servlet-class>com.training.ui.EmployeeEditInputScreenServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>Employee Edit Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/EmployeeEditInput.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeEditInputScreenServlet</servlet-name>
    <url-pattern>/EmployeeEditInputScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDeleteInputScreenServlet</display-name>
    <servlet-name>EmployeeDeleteInputScreenServlet</servlet-name>
    <servlet-class>com.training.ui.EmployeeDeleteInputScreenServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>Delete Employee Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/EmployeeDeleteInput.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDeleteInputScreenServlet</servlet-name>
    <url-pattern>/EmployeeDeleteInputScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeListingServlet</display-name>
    <servlet-name>EmployeeListingServlet</servlet-name>
    <servlet-class>com.training.ui.EmployeeListingServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>Listing Of Employees</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/EmployeeDisplayList.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeListingServlet</servlet-name>
    <url-pattern>/EmployeeListing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewEmployeeServlet</display-name>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <servlet-class>com.training.ui.NewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <url-pattern>/NewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeSearchingServlet</display-name>
    <servlet-name>EmployeeSearchingServlet</servlet-name>
    <servlet-class>com.training.ui.EmployeeSearchingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSearchingServlet</servlet-name>
    <url-pattern>/EmployeeSearching</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDeletingServlet</display-name>
    <servlet-name>EmployeeDeletingServlet</servlet-name>
    <servlet-class>com.training.ui.EmployeeDeletingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDeletingServlet</servlet-name>
    <url-pattern>/EmployeeDeleting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeUpdatingServlet</display-name>
    <servlet-name>EmployeeUpdatingServlet</servlet-name>
    <servlet-class>com.training.ui.EmployeeUpdatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeUpdatingServlet</servlet-name>
    <url-pattern>/EmployeeUpdating</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeEditingServlet</display-name>
    <servlet-name>EmployeeEditingServlet</servlet-name>
    <servlet-class>com.training.ui.EmployeeEditingServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>Edit Employee Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/EmployeeEdit.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeEditingServlet</servlet-name>
    <url-pattern>/EmployeeEditing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.training.ui.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.training.ui.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
</web-app>