body {
	margin-left: 2cm;
	margin-top: 3cm;
}

h1 {
	padding: 9px;
	text-align: center;
	width: 50%;
	background-color: black;
	color: white;
	font-family: TimesNewRoman;
	font-weight: bolder;
	font-size: 10pt;
	width: 50%;
}

h2 {
	padding: 9px;
	text-align: center;
	width: 50%;
	background-color: black;
	color: white;
	font-family: TimesNewRoman;
	font-weight: bold;
	font-size: 10pt;
}

td {
	font-family: TimesNewRoman;
	font-size: 10pt;
	height: 10mm;
}

input[type='text'] {
	border-top: none;
	border-right: none;
	border-bottom: solid thin green;
	border-left: none;
}

input[type='submit'] {
	height: 8mm;
	width: 6cm;
	background-color: green;
	color: white;
	font-family: TimesNewRoman;
	font-weight: bold;
	border-radius: 3mm;
}

input[type='reset'] {
	height: 8mm;
	width: 6cm;
	background-color: green;
	color: white;
	font-family: TimesNewRoman;
	font-weight: bold;
	border-radius: 3mm;
}

select {
	width: 5cm;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid thin green;
}