<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>04-ServletIntro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.training.ui.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>com.training.ui.CityWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/City</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NumberServlet</servlet-name>
    <servlet-class>com.training.ui.NumberPrintingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberServlet</servlet-name>
    <url-pattern>/Numbers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressPrintingServlet</display-name>
    <servlet-name>AddressPrintingServlet</servlet-name>
    <servlet-class>com.training.ui.AddressPrintingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressPrintingServlet</servlet-name>
    <url-pattern>/ap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankDisplayServlet</display-name>
    <servlet-name>BankDisplayServlet</servlet-name>
    <servlet-class>com.training.ui.BankDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankDisplayServlet</servlet-name>
    <url-pattern>/BankDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankListDiplay</display-name>
    <servlet-name>BankListDiplay</servlet-name>
    <servlet-class>com.training.ui.BankListDiplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankListDiplay</servlet-name>
    <url-pattern>/BankList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BannerImageServlet</display-name>
    <servlet-name>BannerImageServlet</servlet-name>
    <servlet-class>com.training.ui.BannerImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BannerImageServlet</servlet-name>
    <url-pattern>/BannerImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDisplayServlet</display-name>
    <servlet-name>CustomerDisplayServlet</servlet-name>
    <servlet-class>com.training.ui.CustomerDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDisplayServlet</servlet-name>
    <url-pattern>/CustomerDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerListDisplayServlet</display-name>
    <servlet-name>CustomerListDisplayServlet</servlet-name>
    <servlet-class>com.training.ui.CustomerListDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerListDisplayServlet</servlet-name>
    <url-pattern>/CustomerListDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleInputFormServlet</display-name>
    <servlet-name>SimpleInputFormServlet</servlet-name>
    <servlet-class>com.training.ui.SimpleInputFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleInputFormServlet</servlet-name>
    <url-pattern>/SimpleInputForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDropdownServlet</display-name>
    <servlet-name>CategoryDropdownServlet</servlet-name>
    <servlet-class>com.training.ui.CategoryDropdownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDropdownServlet</servlet-name>
    <url-pattern>/CategoryDropdown</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryRadioButtonServlet</display-name>
    <servlet-name>CategoryRadioButtonServlet</servlet-name>
    <servlet-class>com.training.ui.CategoryRadioButtonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryRadioButtonServlet</servlet-name>
    <url-pattern>/CategoryRadioButton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankChoicesServlet</display-name>
    <servlet-name>BankChoicesServlet</servlet-name>
    <servlet-class>com.training.ui.BankChoicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankChoicesServlet</servlet-name>
    <url-pattern>/BankChoices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankRadioChoicesServlet</display-name>
    <servlet-name>BankRadioChoicesServlet</servlet-name>
    <servlet-class>com.training.ui.BankRadioChoicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankRadioChoicesServlet</servlet-name>
    <url-pattern>/BankRadioChoices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerEditServlet</display-name>
    <servlet-name>CustomerEditServlet</servlet-name>
    <servlet-class>com.training.ui.CustomerEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerEditServlet</servlet-name>
    <url-pattern>/CustomerEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelRoomStatusDisplayServlet</display-name>
    <servlet-name>HotelRoomStatusDisplayServlet</servlet-name>
    <servlet-class>com.training.ui.HotelRoomStatusDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelRoomStatusDisplayServlet</servlet-name>
    <url-pattern>/HotelRoomStatusDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelRoomStatusEditServlet</display-name>
    <servlet-name>HotelRoomStatusEditServlet</servlet-name>
    <servlet-class>com.training.ui.HotelRoomStatusEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelRoomStatusEditServlet</servlet-name>
    <url-pattern>/HotelRoomStatusEdit</url-pattern>
  </servlet-mapping>
</web-app>