<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>06-RequestDispatcherDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TitleServlet</display-name>
    <servlet-name>TitleServlet</servlet-name>
    <servlet-class>com.training.ui.TitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitleServlet</servlet-name>
    <url-pattern>/Title</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatePrintingServlet</display-name>
    <servlet-name>DatePrintingServlet</servlet-name>
    <servlet-class>com.training.ui.DatePrintingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatePrintingServlet</servlet-name>
    <url-pattern>/DatePrinting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculatorServlet</display-name>
    <servlet-name>CalculatorServlet</servlet-name>
    <servlet-class>com.training.ui.CalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculatorServlet</servlet-name>
    <url-pattern>/Calculator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorhandlingServlet</display-name>
    <servlet-name>ErrorhandlingServlet</servlet-name>
    <servlet-class>com.training.ui.ErrorhandlingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorhandlingServlet</servlet-name>
    <url-pattern>/Errorhandling</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBServlet</display-name>
    <servlet-name>DBServlet</servlet-name>
    <servlet-class>com.training.ui.DBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBServlet</servlet-name>
    <url-pattern>/DB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.training.ui.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpoyeeDisplayServlet</display-name>
    <servlet-name>EmpoyeeDisplayServlet</servlet-name>
    <servlet-class>com.training.ui.EmpoyeeDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpoyeeDisplayServlet</servlet-name>
    <url-pattern>/EmpoyeeDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.training.ui.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
</web-app>