<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>08-ProductServletApp</display-name>
  <welcome-file-list>
    <welcome-file>LoginPage.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>portalTitle</param-name>
    <param-value>Product Management Portal</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>NewProductInputScreenServlet</display-name>
    <servlet-name>NewProductInputScreenServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.NewProductInputScreenServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>New Product Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/NewProductInput2.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProductInputScreenServlet</servlet-name>
    <url-pattern>/NewProductInputScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchInputScreenServlet</display-name>
    <servlet-name>ProductSearchInputScreenServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.ProductSearchInputScreenServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>Search Product Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/ProductSearchInput.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchInputScreenServlet</servlet-name>
    <url-pattern>/ProductSearchInputScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEditInputScreenServlet</display-name>
    <servlet-name>ProductEditInputScreenServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.ProductEditInputScreenServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>Edit Product Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/ProductEditInput.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEditInputScreenServlet</servlet-name>
    <url-pattern>/ProductEditInputScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteInputScreenServlet</display-name>
    <servlet-name>ProductDeleteInputScreenServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.ProductDeleteInputScreenServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>Delete Product Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/ProductDeleteInput.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteInputScreenServlet</servlet-name>
    <url-pattern>/ProductDeleteInputScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListingServlet</display-name>
    <servlet-name>ProductListingServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.ProductListingServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>Display Product Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/ProductDisplayList.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListingServlet</servlet-name>
    <url-pattern>/ProductListing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewProductAddingServlet</display-name>
    <servlet-name>NewProductAddingServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.NewProductAddingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProductAddingServlet</servlet-name>
    <url-pattern>/NewProductAdding</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchingServlet</display-name>
    <servlet-name>ProductSearchingServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.ProductSearchingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchingServlet</servlet-name>
    <url-pattern>/ProductSearching</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeletingServlet</display-name>
    <servlet-name>ProductDeletingServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.ProductDeletingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeletingServlet</servlet-name>
    <url-pattern>/ProductDeleting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpdatingServlet</display-name>
    <servlet-name>ProductUpdatingServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.ProductUpdatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdatingServlet</servlet-name>
    <url-pattern>/ProductUpdating</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEditingServlet</display-name>
    <servlet-name>ProductEditingServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.ProductEditingServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>moduleTitle</param-name>
      <param-value>Edit Product Data</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>cssFile</param-name>
      <param-value>Styles/ProductEdit.css</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEditingServlet</servlet-name>
    <url-pattern>/ProductEditing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuPageServlet</display-name>
    <servlet-name>MenuPageServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.MenuPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuPageServlet</servlet-name>
    <url-pattern>/MenuPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginValidatorServlet</display-name>
    <servlet-name>LoginValidatorServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.LoginValidatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidatorServlet</servlet-name>
    <url-pattern>/LoginValidator</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ameex.training.listener.ProductAppLifeListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ameex.training.listener.SessionMonitorListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ProductListXMLServlet</display-name>
    <servlet-name>ProductListXMLServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.ProductListXMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListXMLServlet</servlet-name>
    <url-pattern>/ProductListXML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListDownloadExcelServlet</display-name>
    <servlet-name>ProductListDownloadExcelServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.ProductListDownloadExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListDownloadExcelServlet</servlet-name>
    <url-pattern>/ProductListDownloadExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontControllerServlet</display-name>
    <servlet-name>FrontControllerServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.FrontControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontControllerServlet</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPageServlet</display-name>
    <servlet-name>LoginPageServlet</servlet-name>
    <servlet-class>com.ameex.training.ui.LoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPageServlet</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
</web-app>